Who wrote this question is {{question.author}}, and its type is {{question.type}} <br> he is located in {{question.city}} and his question is{{question.question}}.
<button {{action 'delete' question}}>Delete</button>
