<li style="list-style-type :none">
    <li>
    {{#link-to 'question' question.id}} Author:  {{question.author}} <br> Type: {{question.type}} <br> City: {{question.city}} <br> Question: {{question.question}}{{/link-to}}
    {{update-question question=question update="update"}}
  <button type="button" class="btn btn-primary btn-sm"{{action 'delete' question}}>Delete Question</button>
</li>
</li>
