<h1> Welcome to Question-Board</h1>

We hope you will find questions,ask and post new questions.

<ul>
  {{#each model as |question|}}
{{question-tile question=question update="update" destroyQuestion="destroyQuestion" likeQuestion="likeQuestion" hateQuestion="hateQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>
{{new-review saveReview="saveReview"}}
<hr>
